<header class="header">
    <div class="wrapper">
        <div class="title">
            <h5>Mi <br> Perfil</h5>
        </div>
        <div class="nav">
            <ul class="menu">
                <li class="item"><a routerLink='/inicio'    routerLinkActive="active"><img src="/assets/img/icons/home.png"    class="icon active" alt="Ir a la pagina de inicio"> Inicio</a></li>
                <li class="item"><a routerLink='/sobre-mi'  routerLinkActive="active"><img src="/assets/img/icons/about.png"   class="icon" alt="Sobre Mi"> Sombre Mi</a></li>
                <li class="item"><a routerLink='/proyectos' routerLinkActive="active"><img src="/assets/img/icons/proyect.png" class="icon" alt="Proyectos"> Proyectos</a></li>
                <li class="item"><a routerLink='/contacto'  routerLinkActive="active"><img src="/assets/img/icons/contact.png" class="icon" alt="Contacto"> Contacto</a></li>
            </ul>
        </div>
    </div>
</header>