
.header{
    background: #cb110e;
    height: 250px;
    width: 100%;
    position: fixed;
    top: 0;

}

.wrapper{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}

.nav{
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}

.menu{
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0.5em 0;
    font-size: 15px;
}

.item{
    width: 25%;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: rgb(70, 68, 68);
    &:hover{
        width: 100%;
        color: #5826b5 ;
        border-top: 2px solid #5826b5;
    }
    &:active{
        width: 100%;
        color: #5826b5 ;
        border-top: 2px solid #5826b5;
    }
}

.link{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.7em;
    fill: #7881a4;
    cursor: pointer;
}

.icon{
    display: block;
    width: 24px;
    margin: 0 auto 4px;
    padding: 0.5em 0;
}


@media only screen and (min-width:1024px){
    .header{
        background-color: #fff;
    }
    .icon{
        display: none;
    }
    .menu{
        padding: 0;
    }
    .nav{
        position: relative;
        border: none;
    }
    .link{
        font-size: 0.85em;
    }
    .item{
        margin-left: 1.5em;
        width: auto;
    }
}